@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
a {
  display: inline-block;
  text-decoration: none;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

#contents {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background: url("../img/photos/image-header.jpg") no-repeat center;
  background-size: cover;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.9rem 4rem 0 2.5rem;
}

header nav img {
  width: 137%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 1rem;
}

header nav ul li {
  margin-right: 1.5rem;
}

header nav ul li a {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0.6rem 0.75rem;
  position: relative;
}

header nav ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: 5px;
  left: 15%;
  border-radius: 5px;
}

header nav ul li a:hover::after {
  width: 70%;
}

header nav ul li a p {
  margin: auto;
}

header nav ul li:last-child a {
  font-family: "Fraunces", serif;
  color: black;
  background-color: #fff;
  border-radius: 30px;
  font-size: 0.95rem;
  margin-left: 1rem;
}

header nav ul li:last-child a:hover::after {
  width: 0;
}

header h1 {
  font-family: "Fraunces", serif;
  color: #fff;
  font-weight: 900;
  font-size: 3.5rem;
  letter-spacing: 0.6rem;
  text-align: center;
  padding-top: 7.3rem;
  padding-bottom: 6.3rem;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20.5rem;
}

header div a {
  margin: 0 auto;
}
