$header-font-color: hsl(0, 0%, 100%);
$services-headings-color: hsl(212, 27%, 19%);
$services-text-color: hsl(232, 10%, 55%);
$article-link-underline-1: hsl(51, 100%, 49%);
$article-link-underline-2: hsl(7, 99%, 70%);
