$header-font: hsl(0, 0%, 100%);
$header-contact: hsl(0, 100%, 0%);
$header-contact-hover: hsl(200, 100%, 62%);

$services-headings: hsl(212, 27%, 19%);
$services-text: hsl(232, 10%, 55%);
$services-graphic-text: hsl(167, 40%, 24%);
$services-photography-text: hsl(198, 62%, 26%);
$article-link-underline-1: hsl(51, 100%, 49%);
$article-link-underline-2: hsl(7, 99%, 70%);

$testimonials-text: hsl(213, 9%, 39%);
$testimonials-function: hsl(210, 4%, 67%);

$footer-font: hsl(168, 45%, 32%);
$footer-background: hsl(167, 44%, 70%);
