$header-font: hsl(0, 0%, 100%);
$header-contact: hsl(0, 100%, 0%);
$header-contact-hover: hsl(200, 100%, 62%);
$services-headings: hsl(212, 27%, 19%);
$services-text: hsl(232, 10%, 55%);
$article-link-underline-1: hsl(51, 100%, 49%);
$article-link-underline-2: hsl(7, 99%, 70%);
