#services {
    display: flex;
    flex-wrap: wrap;
    article, figure {
        width: 50%;
    }
    article {
        display: flex;
        flex-direction: column;
        padding: 9.8rem 0;
        &:nth-child(1), &:nth-child(4) {
            .contents {
                margin: 0 auto;
                width: 29rem;
                position: relative;
                left: 32px;
            }
            h1, a {
                font-family: $heading-font;
                color: $services-headings;
                font-weight: $bolder-fraunces;
            }
            h1 {
                font-size: 2.5rem;
                line-height: 3.05rem;
                padding-bottom: 2rem;
            }
            p {
                line-height: 1.7rem;
                color: $services-text;
                padding-bottom: 3.1rem;
            }
            a {
                font-size: 1rem;
                padding-left: 0.4rem;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    width: 110%;
                    height: 10px;
                    background-color: lighten($article-link-underline-1, 35%);
                    border-radius: 5px;
                    left: -2%;
                    bottom: -5px;
                    z-index: -1;
                }
                &:hover {
                    animation: $hover-learn-more;
                }
                &:hover::after {
                    animation: $hover-learn-more-after;
                }
            }
            &:nth-child(4) {
                
                a {
                    &::after {
                        background-color: lighten($article-link-underline-2, 23%);
                    }
                }
            }
        }
        &:nth-child(5), &:nth-child(6) {
            background-size: cover;
            height: 37.025rem;
            padding: 0;
            display: flex;
            .contents {
                margin: auto auto 0 auto;
                width: 21rem;
                text-align: center;
                padding-bottom: 3.5rem;
            }
            h1 {
                font-family: $heading-font;
                font-size: 1.75rem;
                font-weight: $bolder-fraunces;
                padding-bottom: 2.3rem;
            }
            p {
                line-height: 1.5rem;
                font-size: 0.97rem;
            }
        }
        &:nth-child(5) {
            background: url("../img/photos/image-graphic-design.jpg") no-repeat center;
            h1 {
                color: $services-graphic-text;
            }
            p {
                color: lighten($services-graphic-text, 10%);
            }
        }
        &:nth-child(6) {
            background: url("../img/photos/image-photography.jpg") no-repeat center;
            h1 {
                color: $services-photography-text;
            }
            p {
                color: lighten($services-photography-text, 5%);
            }
        }
    }
    figure {
        background-size: cover;
        &:nth-child(2) {
            background: url("../img/photos/image-transform.jpg") no-repeat center;
        }
        &:nth-child(3) {
            background: url("../img/photos/image-stand-out.jpg") no-repeat center;
        }
    }
}
